.side
  .list
    .list__icon
    = link_to '#' do
      = icon('fas','paw')
    .list__contents
      .list__contents--name
      バイヤーの名前
      .list__contensts--brand
      ブランド名orショップ名
  .list
    .list__icon
    = link_to '#' do
      = icon('fas','paw')
    .list__contents
      .list__contents--name
      バイヤーの名前
      .list__contensts--brand
      ブランド名orショップ名