.wrpper{
  .topheader{
    
  }
  .main{
    

    &__box{
      a:hover {
        color: red;
      }
      a{
        transition: 1.0s ;
        color:#000;
        text-decoration: none;
      }
      .new_product{
        width:100vh;
        .field{
          color: #444;
          font-family: 'VSCO Gothic Medium', Helvetica, Arial, sans-serif;
          font-weight: 200;
          font-style: normal;
          font-size: 16px;
          font-size: .875rem;
          margin-top: 50px;
        }
        .actions{
          margin-top: 50px;
          margin-left: 15px;
          .under_btn{
            border:solid 0px;
            background-color: #000;
            color:#444;
            width:70px;
            height:50px;
          }
          
          .submit{
            a:hover {
              color: red;
            }
            a{
              transition: 1.0s ;
              color:#000;
              text-decoration: none;
            }
            border: solid 0px;
            background-color: #000;
            color: #444;
            width: 70px;
            height: 50px;
            margin:0 100px
          }
        }
          .input-default{
            width: 300px;
            height: 30px;
            color: #000;
            font-family: 'VSCO Gothic Medium', Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            font-size: .875rem;
            line-height: 2.5rem;
            border:0px;
            border-bottom:solid #000;
            border-width:0.1px;
            padding-bottom:5px;
          }
      }

  }
}

}