.wrapper{
  .topheader{

  }
  .main{
    &__profile{

      margin-top: 50px;
      height: 400px;
      width: 600px;
      .main_img{
        .img_tag{
          margin-left: 247px;
        }
      }
      .main_name{
        text-align: center;
        height: 50px;
      }
    .main_email{
      text-align: center;
      height: 40px;
    }
    .main_profile{
      text-align: center;
    }
  }
  &__edition{
    a{
      color: #111;
    }
    color: yellowgreen;
    
  }
  }
}

